@model IEnumerable<MvcExamenAzure1APE.Models.Personaje>

@{
    ViewData["Title"] = "Personajes";
}

<h1>Personajes</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombrePersonaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSerie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePersonaje)
            </td>
            <td>
                <img src="@item.Imagen" style="width:350px;height:300px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSerie)
            </td>
            <td>
                <a asp-controller="Series" asp-action="DeletePersonaje" asp-route-idPersonaje="@item.IdPersonaje" class="btn bg-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
